# Ignore virtual environments and environment files
.env
env/
venv/

# Python cache and compiled files
__pycache__/
*.pyc

# OS-specific/system files
.DS_Store
Thumbs.db

# VS Code settings (optional, if you use VSCode)
.vscode/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/
